langgraph
langchain
openai
python-dotenv
pydantic
httpx
fastapi
uvicorn[standard]
python-multipart

# for ML model 
joblib
numpy
scikit-learn
xgboost
lime
reportlab
huggingface_hub

# Training and notebook 
pandas
matplotlib
seaborn
